.tickerContainer {
    width: 100%;
    overflow: hidden;
    background: var(--pure-black);
    color: var(--pure-white);
    padding: 1.5rem 0;
    border-top: 4px solid var(--pure-black);
    border-bottom: 4px solid var(--pure-black);
    position: relative;
    z-index: 20;
}

.scroller {
    display: flex;
    gap: 4rem;
    width: max-content;
    animation: scroll 30s linear infinite;
}

.scroller:hover {
    animation-play-state: paused;
}

.awardItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    white-space: nowrap;
    font-family: var(--font-ibm-plex-mono);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: var(--pure-white);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}