.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 8rem;
}



.tabActive {
    background-color: var(--pure-black) !important;
    color: var(--pure-white) !important;
    border: 2px solid var(--pure-black);
}

.tabInactive {
    background-color: transparent !important;
    color: var(--pure-black) !important;
    border: 2px solid var(--pure-black) !important;
}

.tabInactive:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.execCard {
    background: white;
    border: 4px solid black;
    box-shadow: 8px 8px 0px black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 768px) {
    .execCard {
        flex-direction: row;
        align-items: flex-start;
    }
}

.hodPhotoFrame {
    width: 150px;
    height: 150px;
    border: 4px solid black;
    padding: 0.5rem;
    background: white;
}