.loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #EAEAEA;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loaderText {
    font-family: var(--font-space-grotesk);
    font-weight: 900;
    font-size: 5rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px black;
    position: relative;
}

.loaderText::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: black;
    overflow: hidden;
    border-right: 4px solid #FF006E;
    animation: loadText 2s linear forwards;
}

@keyframes loadText {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.subText {
    font-family: var(--font-ibm-plex-mono);
    margin-top: 1rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
}